<div class="content-wrapper">
	<div class="login-form" style="padding-top: 100px; padding-bottom:40px;">
		<div class="section-padding">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                	<div class="row" style="background-color: white;">
                		<div class="col-xs-12 col-sm-6 col-md-6 p-l-0 hidden-xs">
                			<div class="payment-card-img" style="background-image:url('img/card-image.png');"></div>
                		</div>
                		<div class="col-xs-12 col-sm-6 col-md-6">
                			<div class="">
                				<form action="" class="top-bottom-space">
								  	<div class="form-group">
								    	<!-- <label/ for="email">Email address:</label> -->
								    	<input type="text" class="form-control" placeholder="CardHolders Name">
								  	</div>

								  	<div class="form-group row top1">
									    <div class="col-xs-3">
									        <input type="text" class="form-control"  placeholder="XXXX">
									    </div>
									    <div class="col-xs-3">
									        <input type="text" class="form-control"  placeholder="XXXX">
									    </div>
									    <div class="col-xs-3">
									        <input type="text" class="form-control"  placeholder="XXXX">
									    </div>
									    <div class="col-xs-3">
									        <input type="text" class="form-control"  placeholder="XXXX">
									    </div>
									</div>

								  	<div class="form-group row top1">
									    <div class="col-xs-6">
									        <input type="text" class="form-control"  placeholder="MM">
									    </div>
									    <div class="col-xs-6">
									        <input type="text" class="form-control"  placeholder="YY">
									    </div>
									</div>

									<div class="form-group row top1">
									    <div class="col-xs-6">
									    	<input type="text" class="form-control"  placeholder="CVV">
									    </div>
									</div>

									<div class="checkbox checkbox-danger top1">
				                        <input id="checkbox6" type="checkbox" checked="">
				                        <label for="checkbox6">
				                            Save my card details
				                        </label>
				                    </div>

				                    <button class="btn btn-primary form-btn">Pay Now</button>
                				</form>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
