<div class="content-wrapper">
    <div class="login-form" style="padding-top: 100px; padding-bottom:40px;color: #333;">
        <div class="section-padding">
        	<div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="white-bg spacing text-center">
                    	
                    	<div>
                    		<div class="card-list-left">
                    			<img src="img/visa.png">
                    		</div>
                    		<div class="card-list-right">
                    			<p class="m-0"><i class="fa fa-trash pull-right"></i></p>
                    			<h4 class="uppercase mt-0">xxxx-xxxx-xxxx-4242</h4>
                    			<a href="#"><p class="theme-clr captalize">Default card</p></a>
                    		</div>
                    	</div>
                    	<div class="clearfix"></div>
                    	<p class="line"></p>
                    	<div>
                    		<div class="card-list-left">
                    			<img src="img/paypal.png">
                    		</div>
                    		<div class="card-list-right">
                    			<p class="m-0"><i class="fa fa-trash pull-right"></i></p>
                    			<h4 class="uppercase mt-0">xxxx-xxxx-xxxx-4242</h4>
                    			<a href="#"><p class="captalize">Set as default</p></a>
                    		</div>
                    	</div>
                    	<div class="clearfix"></div>
                    	<p class="line"></p>
                    	<div>
                    		<div class="card-list-left">
                    			<img src="img/credit-card.png">
                    		</div>
                    		<div class="card-list-right">
                    			<p class="m-0"><i class="fa fa-trash pull-right"></i></p>
                    			<h4 class="uppercase mt-0">xxxx-xxxx-xxxx-4242</h4>
                    			<a href="#"><p class="captalize">Set as default</p></a>
                    		</div>
                    	</div>
                    	<div class="clearfix"></div>
                    	<p class="line"></p>
                    	<div>
                    		<div class="card-list-left">
                    			<img src="img/credit-card1.png">
                    		</div>
                    		<div class="card-list-right">
                    			<h4 class="mt-30">Add card</h4>
                    		</div>
                    	</div>
                    	<div class="clearfix"></div>
                    	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>