<div class="content-wrapper">
    <div class="login-form" style="padding-top: 10%">
        <div class="section-padding">
        	<div class="row">
        		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        			<div class="white-bg spacing1 text-center">
        				<img src="assets/img/circle.png" class="succes-img">
        				<h1>Thank you!</h1>
        				<h3>Your Payment is received successfully !!</h3>
        				<p>Now you can watch Video</p>
        				<a href="#">
        					<button class="payment-submit"><i class="fa fa-video-camera"></i> Watch</button>
        				</a>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>