<div class="main-content form-content bg-img" style="background-image:url({{login_bg}})">
    
    <div class="login-form" style="padding-top: 100px;padding-bottom: 40px;">

    	<div class="container">
        	<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 billing-white-bg">
	        	<div class="row">
	        		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 zero-padding billing-bg-img" style="background-image: url(img/billing-back.jpg);">
	        			<div class="pay-details-bg text-center">
	        				<div>
	        					<div class="pay-profile-img" style="background-image: url(img/img1.jpg);"></div>
	        					<h3 class="white-clr text-center mb-0">User Name</h3>
	        				</div>
	        			</div>
	        		</div>

	        		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 billing-history">
	        			<h3 class="billing-head1"><i class="fa fa-clock-o"></i> &nbsp;Payment History</h3>
	        			<p class="bill-line1"></p>

	        			<div class="payment-details top">
	        				<div class="relative">
		        				<div class="payment-vide-img" style="background-image: url(img/img1.jpg);">
		        					<h4 class="payment-video-title">Video Title</h4>
		        				</div>
		        				<div class="video-amount">$999.00</div>
	        				</div>
							<div class="table-responsive">    				
								<table class="table">
								    <tbody>
								      	<tr>
								        	<td>Payment ID</td>
								        	<td>1234567899</td>
								      	</tr>
								      	<tr>
									        <td>Paid date</td>
									        <td>dd/mm/yyyy</td>
								      	</tr>
								      	<tr>
								       		<td>Status</td>
								       	 	<td>Something</td>	
								     	</tr>
								     	<tr>
								       		<td>Subscriptiion Type</td>
								       	 	<td>Something</td>	
								     	</tr>
								     	<tr>
								       		<td>User Type</td>
								       	 	<td>Something</td>	
								     	</tr>
								    </tbody>
								 </table>
							 </div>	    
	        			</div>


	        			<div class="payment-details top">
	        				<div class="relative">
		        				<div class="payment-vide-img" style="background-image: url(img/img1.jpg);">
		        					<h4 class="payment-video-title">Video Title</h4>
		        				</div>
		        				<div class="video-amount">$999.00</div>
	        				</div>
							<div class="table-responsive">    				
								<table class="table">
								    <tbody>
								      	<tr>
								        	<td>Payment ID</td>
								        	<td>1234567899</td>
								      	</tr>
								      	<tr>
									        <td>Paid date</td>
									        <td>dd/mm/yyyy</td>
								      	</tr>
								      	<tr>
								       		<td>Status</td>
								       	 	<td>Something</td>	
								     	</tr>
								     	<tr>
								       		<td>Subscriptiion Type</td>
								       	 	<td>Something</td>	
								     	</tr>
								     	<tr>
								       		<td>User Type</td>
								       	 	<td>Something</td>	
								     	</tr>
								    </tbody>
								 </table>
							 </div>	    
	        			</div>
	        		</div>
        		</div>
        	</div>
        </div>

    </div>

</div>