<!-- <div class="content-wrapper gray-background">
	<div class="login-form" style="padding-top: 10%">
		<div class="container">
			<div class="row">	
				<div class="col-md-3 ng-scope" ng-repeat="subscription in subscriptions" ng-hide="one_time_subscription == 1 && subscription.amount == 0">
                    <div class="card pricing style-2" ng-class="{'z-depth-4': (subscription.popular_status == 1) }">

                        <div class="plan-title waves-effect waves-block waves-light teal" ng-class="{'teal' : (subscription.popular_status == 0) , 'yellow darken-3': (subscription.popular_status == 1) }">
                            <h5 ng-class="{'white-text' : (subscription.popular_status == 0) , 'dark-grey-text': (subscription.popular_status == 1) }" class="white-text">
                                <span class="plan">{{subscription.title}}</span>
                            </h5>
                        </div>

                        <div class="price waves-effect waves-block waves-light teal lighten-1" ng-class="{'teal lighten-1' : (subscription.popular_status == 0) , 'yellow darken-2': (subscription.popular_status == 1) }">
                            <h4 ng-class="{'white-text' : (subscription.popular_status == 0) , 'dark-grey-text': (subscription.popular_status == 1) }" class="white-text">
                                <span class="currency">$</span>
                                <span class="amount">{{subscription.amount}}</span>
                                <span class="period">/ {{subscription.plan}} month</span>
                            </h4>
                        </div>


                        <div class="card-content">


                            <span class="price-co">{{subscription.description}}</span>


                            <div class="plan-signup-btn">


                                <a id="start-now-plus" class="waves-effect waves-block waves-light no-margin white-text btn" ng-click="sendToPaypal(subscription.id, subscription.amount)" ng-class="{'btn' : (subscription.popular_status == 0) , 'yellow darken-2 btn-large': (subscription.popular_status == 1) }" style="cursor: pointer;">
                                    <span ng-class="{'dark-grey-text': (subscription.popular_status == 1) }">Pay Now</span>
                                </a>

                            </div>

                        </div>
                    </div>
  

                </div>
			</div>					
		</div>
	</div>

<div class="push"></div> -->


<!-- gray-background -->

<div class="content-wrapper">

        <div class="login-form" style="padding-top: 10%">

                <div class="container">

                <ul class="card-list row">
                    <li class="col-md-4 card course syllabus topic-javascript" ng-repeat="subscription in subscriptions" ng-hide="one_time_subscription == 1 && subscription.amount == 0">

                        <a class="card-box">
                            <div class="card-progress" ng-class="{'orange': (subscription.popular_status == 1) , 'pink': (subscription.popular_status == 0)}">
                               {{subscription.title}}
                            </div>

                            <strong class="card-type">Plan</strong>
                            <h3 class="card-title">${{subscription.amount}} / {{subscription.plan}} month</h3>

                            <strong class="card-type">Maintain Account</strong>
                            <h3 class="card-title"><i class="fa fa-user-plus"></i> {{subscription.no_of_account}}</h3>

                             <p class="card-description">
                            {{subscription.description}}

                         
                            </p>

                           

                         
                        </a>

                        <div class="clearfix"></div>
                      
                        <ul class="card-actions">
                            <li class="card-action resume">
                                <a class="btn btn-md" ng-class="{'orange-btn': (subscription.popular_status == 1) , 'pink-btn': (subscription.popular_status == 0)}" ng-click="sendToPaypal(subscription.id, subscription.amount)" >Pay Now</a>
                            </li>
                           
                        </ul>


                    </li>
                </ul>



                </div>

        </div>
</div>

<div class="clearfix"></div>

