<div class="content-wrapper">
    <div class="login-form" style="padding-top: 10%">
        <div class="section-padding">
        	<div class="row">
        		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        			<div class="white-bg  spacing1">
        				<h3 class="select-head text-center">Select Payment</h3>
        				<div class="card-1">
        					<div class="amount-sec">
        						<h2 class="select-amount">$10.00</h2>
        					</div>
        					<div class="text-sec">
        						<h4 >Subscription plan</h4>
        						<a href="#"><P>Click here to subscribe</P></a>
        					</div>
        				</div>
        				<div class="card-1">
        					<div class="amount-sec">
        						<h2 class="select-amount">$10.00</h2>
        					</div>
        					<div class="text-sec">
        						<h4 >Pay per video</h4>
        						<a href="#"><P>Click here to pay per video</P></a>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>