<div class="content-wrapper">
    <div class="login-form" style="padding-top: 10%">
        <div class="section-padding">
        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        			<div class="white-bg">
        				<div class="row">
        					<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 ">
	        					<div class="section1">

	        						<p><i class="fa fa-suitcase pay-icon"></i>Category</p>
	        						<p class="right"><strong>Sub-category</strong></p>
	        						<p class="section1-line top"></p>

	        						<p><i class="fa fa-file-o pay-icon"></i>Title</p>
	        						<p class="right"><strong>New Video</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-user pay-icon"></i> User Type</p>
	        						<p class="right"><strong>Paid user</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-hand-o-up pay-icon"></i> Subcription type</p>
	        						<p class="right"><strong>One time payment</strong></p>
	        						<p class="section1-line"></p>

	        						<p><i class="fa fa-usd pay-icon"></i> Amount</p>
	        						<p class="right"><strong>$10.00</strong></p>
	        						
	        					</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
        						<div class="spacing">
        							<h3 class="pay-head"><i class="fa fa-globe pay-icon1" ></i><span>Pay per view</span></h3>
        							<h3 class="table-title">Amount</h3>

        							<table class="table">
        								<tbody>
        									<tr class="info">
        									<!-- <tr class="active"> -->
										        <td>Subtotal</td>
										        <td>$10.00</td>
										    </tr>
										    <tr>
										        <td>Tax</td>
										        <td>$0.00</td>
										    </tr>
										    <tr class="info">
										    <!-- <tr class="active"> -->
										        <td>Total</td>
										        <td>$10.00</td>
										    </tr>
										</tbody>
									</table> 
									<div class="text-right">
										<a href="#"><button class="payment-submit"><i class="fa fa-cc-mastercard"></i> Pay</button></a>
									</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
       	</div>
    </div>
</div>