.page_loading {
	overflow:hidden!important
}
#preloader {
	overflow:hidden
}
#page_preloader {
	background:#000000;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:fixed;
	z-index:2000;
	opacity:0;
	-webkit-transition:all 280ms cubic-bezier(.4,0,.2,1);
	transition:all 280ms cubic-bezier(.4,0,.2,1)
}
#page_preloader>img {
	display:block;
	position:absolute;
	left:48%;
	top:50%;
	margin:-24px 0 0 -24px;
	width:5%;
	height:auto
}
.page_loading #page_preloader { 
	opacity:1
}
.page_loaded #page_preloader { 
	display:none
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}