.card-box:not(.has-topic-background-color) {
    background: #fff none repeat scroll 0 0;
}

.card-box {
    border-radius: 5px 5px 4px 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
    color: #b2bac2;
    display: block;
    min-height: 400px;
    padding: 88px 30px 30px;
    position: relative;
}

.card {
    margin-bottom: 10px;
}

.pink {

    background-color: #c25975;
}

.card-progress {
    
    border-radius: 4px 4px 0 0;
    color: #fff;
    display: block;
    height: 58px;
    left: 0;
    line-height: 58px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 300ms ease 0s;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;

}

.orange {
    background-color: #eb7728;
}

.card-type {
color: #7b8b8e;
display: block;
font-size: 14px;
line-height: 12px;
margin: 0 0 7px;
}

.card-title {
color: #4b5658;
font-size: 18px;
line-height: 24px;
margin: 0 0 20px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

}

.card:not(.variable-height) .card-description, .card:not(.variable-height) .card-description-markdown {
    max-height: 80px;
    overflow-y: auto;
}
.card-description, .card-description-markdown {
color: #7b8b8e;
font-size: 14px;
margin: 0;
overflow: hidden;
position: relative;
z-index: 0;
}


ul {
list-style: outside none none;
}


.card-actions {
bottom: 30px;
display: block;
list-style: outside none none;
pointer-events: none;
position: absolute;
right: 45px;
z-index: 1;
}

.card-action {
float: left;
pointer-events: auto;
position: relative;
}


.pink-btn {
    background-color: #c25975;
    border-color: #c25975;
    color: #fff;
}

.orange-btn {
    background-color: #eb7728;
    border-color: #eb7728;
    color: #fff;
}