<div class="content">

	<!-- HIGHLIGHT -->
	<div class="highlight">
		<div class="tab-content">

			<!-- OVERVIEW SECTION  -->
		    <div role="tabpanel" class="tab-pane active" id="overview">
			    <div class="overview tab-section">
		    		
	    			<div class="tab-section-content row no-margin">
		    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad">
		    				<div class="overview-details">
		    					<h3 class="content-tit">Pretty Little Liars</h3>

		    					<div class="row no-margin">
		    						<div class="pull-left">
		    							<input type="hidden" class="rating" value="3">
		    						</div>
		    						<p class="content-txt bold seasons">
		    							<span>2016</span>
		    							<span class="epi-count">+16</span>
		    							<span>2h</span>
		    						</p>
		    					</div>

		    					<div>
		    						<p class="content-txt overview-des">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		    						<p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
		    					</div>

		    					<div>
		    						<a href="#" class="my-list bold">
		    							<i class="fa fa-plus my-list-icon"></i>
		    							<span class="my-list-txt">My List</span> 
		    						</a>
		    					</div>
		    				</div>
		    			</div>

		    			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad">
		    				<div class="linear-outer">
		    					<div class="linear">
		    					</div>
		    					<div class="rotate-img-outer">	
	    					
		    						<div class="rotate-img highlight-img bg-img first" style="background-image: url(img/img1.jpg);"></div>
						    		<div class="rotate-img highlight-img bg-img second" style="background-image: url(img/img2.jpg);"></div>
						    		<div class="rotate-img highlight-img bg-img third" style="background-image: url(img/img3.jpg);"></div>
			    				</div>

			    				<div class="play-icon-outer">
			    					<a href="#" class="play-icon"><i class="fa fa-play"></i></a>
			    				</div>
		    				</div>
		    			</div>
		    		</div>
		    							    
			    </div>
			</div>
			<!-- OVERVIEW SECTION END -->



			<!-- EPISODES-SECTION
			======================================== -->
			<div role="tabpanel" class="tab-pane" id="episodes">
				<div class="episodes-section tab-section tab-bg bg-img" style="background-image: url(img/img1.jpg);">
					<div class="tab-overlay">

						<div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
							<h3 class="content-tit">Pretty Little Liars</h3>
							<form class="season-select">
								<div class="form-group">
								    <select class="form-control" id="exampleSelect1">
								      <option>Season 1</option>
								      <option>Season 2</option>
								      <option>Season 3</option>
								      <option>Season 4</option>
								      <option>SEason 5</option>
								    </select>
								</div>
							</form>

							<div class="episodes-list row no-margin">

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img1.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="episode-count">1</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="pull-left">
													<h4 class="epi-tit gray-color1">Dark Night</h4>
												</div>

												<div class="pull-right">
													<p class="bold gray-color1">2h</p>
												</div>
											</div>

											<div class="">
												<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img2.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="episode-count">2</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="pull-left">
													<h4 class="epi-tit gray-color1">Dark Night</h4>
												</div>

												<div class="pull-right">
													<p class="bold gray-color1">2h</p>
												</div>
											</div>

											<div class="">
												<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img3.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="episode-count">3</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="pull-left">
													<h4 class="epi-tit gray-color1">Dark Night</h4>
												</div>

												<div class="pull-right">
													<p class="bold gray-color1">2h</p>
												</div>
											</div>

											<div class="">
												<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img4.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="episode-count">4</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="pull-left">
													<h4 class="epi-tit gray-color1">Dark Night</h4>
												</div>

												<div class="pull-right">
													<p class="bold gray-color1">2h</p>
												</div>
											</div>

											<div class="">
												<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- EPISODES-SECTION END-->



			<!-- TRAILERS SECTION -->
			<div role="tabpanel" class="tab-pane" id="trailers">
				<div class="trailers-section tab-section tab-bg bg-img" style="background-image: url(img/img1.jpg);">
					<div class="tab-overlay">

						<div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
							<h3 class="content-tit">Pretty Little Liars</h3>

							<div class="trailers-list row no-margin">

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img5.jpg);">
											<div class="episode-img-overlay">

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="">
													<h4 class="epi-tit gray-color1">PLL (Season 1)</h4>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img6.jpg);">
											<div class="episode-img-overlay">

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="">
													<h4 class="epi-tit gray-color1">PLL (Season 2)</h4>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img7.jpg);">
											<div class="episode-img-overlay">

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="">
													<h4 class="epi-tit gray-color1">PLL (Season 3)</h4>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img8.jpg);">
											<div class="episode-img-overlay">

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
												<div class="">
													<h4 class="epi-tit gray-color1">PLL (Season 4)</h4>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- TRAILERS SECTION END -->



			<!-- MORE LIKE SECTION  -->
			<div role="tabpanel" class="tab-pane" id="more-like">
				<div class="morelike-section tab-section tab-bg bg-img" style="background-image: url(img/img1.jpg);">
					<div class="tab-overlay">

						<div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
							<h3 class="content-tit">Pretty Little Liars</h3>

							<div class="morelike-list row no-margin">

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img5.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="new-epi">New Episode</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
					    						<div class="pull-left">
					    							<input type="hidden" class="rating" value="3">
					    						</div>
					    						<p class="content-txt bold seasons">
					    							<span>2016</span>
					    							<span class="epi-count">+16</span>
					    							<span>2h</span>
					    						</p>
					    					</div>

					    					<div>
					    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					    					</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img8.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="new-epi">New Episode</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
					    						<div class="pull-left">
					    							<input type="hidden" class="rating" value="3">
					    						</div>
					    						<p class="content-txt bold seasons">
					    							<span>2016</span>
					    							<span class="epi-count">+16</span>
					    							<span>2h</span>
					    						</p>
					    					</div>

					    					<div>
					    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					    					</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img9.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="new-epi">New Episode</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
					    						<div class="pull-left">
					    							<input type="hidden" class="rating" value="3">
					    						</div>
					    						<p class="content-txt bold seasons">
					    							<span>2016</span>
					    							<span class="epi-count">+16</span>
					    							<span>2h</span>
					    						</p>
					    					</div>

					    					<div>
					    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					    					</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

								<!-- episode list box -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="episode-list-box">

										<div class="episode-img bg-img" style="background-image: url(img/img10.jpg);">
											<div class="episode-img-overlay">
												<div class="episode-img-inner">
													<p class="new-epi">New Episode</p>
												</div>

												<div class="epi-play-icon-outer">
													<a href="#" class="epi-play-icon">
														<i class="fa fa-play"></i>
													</a>
												</div>
											</div>
										</div>

										<div class="episode-list-content">
											<div class="row no-margin">
					    						<div class="pull-left">
					    							<input type="hidden" class="rating" value="3">
					    						</div>
					    						<p class="content-txt bold seasons">
					    							<span>2016</span>
					    							<span class="epi-count">+16</span>
					    							<span>2h</span>
					    						</p>
					    					</div>

					    					<div>
					    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					    					</div>
										</div>

									</div>
								</div>
								<!-- episode-list-box end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- MORE LIKE SECTION END -->



			<!-- DETAILS-SECTION -->
			<div role="tabpanel" class="tab-pane" id="details">
				<div class="details-section tab-section tab-bg bg-img" style="background-image: url(img/img1.jpg);">
					<div class="tab-overlay">

						<div class="details-section-inner tab-section-content tab-sec-inner contain-width">
							<h3 class="content-tit">Pretty Little Liars</h3>

							<div class="details-row row no-margin">

								<!-- DETAILS-BOX -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="details-box">
										<div class="">
											<h3 class="details-tit gray-color">Creator</h3>
											<p class="white-color details-txt">Spencer Hastings</p>
										</div>

										<div class="">
											<h3 class="details-tit gray-color">Cast</h3>
											<p class="white-color details-txt">Spencer Hastings</p>
											<p class="white-color details-txt">Spencer Hastings</p>
											<p class="white-color details-txt">Spencer Hastings</p>
											<p class="white-color details-txt">Spencer Hastings</p>
										</div>
									</div>
								</div>
								<!-- DETAILS-BOX END -->

								<!-- DETAILS-BOX -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="details-box">
										<div class="">
											<h3 class="details-tit gray-color">Genres</h3>
											<p class="white-color details-txt">Lorem</p>
											<p class="white-color details-txt">Lorem lorem</p>
											<p class="white-color details-txt">Lorem lorem lorem</p>
											<p class="white-color details-txt">Lorem</p>
										</div>

										<div class="">
											<h3 class="details-tit gray-color">this show is</h3>
											<p class="white-color details-txt">Exciting</p>
											<p class="white-color details-txt">Imaginative</p>
										</div>
									</div>
								</div>
								<!-- DETAILS-BOX END -->

								<!-- DETAILS-BOX -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="details-box">
										<div class="">
											<h3 class="details-tit gray-color">Maturity Ratings</h3>
											<p class="white-color details-txt">
												<span class="epi-count">+16</span>
											</p>

											<p class="gray-color">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											</p>
										</div>

									</div>
								</div>
								<!-- DETAILS-BOX END -->

								<!-- DETAILS-BOX -->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
									<div class="details-box">
										<div class="">
											<h3 class="details-tit gray-color">Audio</h3>

											<p class="gray-color">
												English Audio Description
											</p>
											<p class="gray-color">
												English
											</p>
										</div>

									</div>
								</div>
								<!-- DETAILS-BOX END -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- DETAILS-SECTION END -->
		</div>

		<div class="drop-tab">
			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
			    </li>

			    <li role="presentation">
			    	<a href="#episodes" aria-controls="episodes" role="tab" data-toggle="tab">Episodes</a>
			    </li>

			    <li role="presentation">
			    	<a href="#trailers" aria-controls="trailers" role="tab" data-toggle="tab">Trailers &amp; More</a>
			    </li>

			    <li role="presentation">
			    	<a href="#more-like" aria-controls="more-like" role="tab" data-toggle="tab">More Like This</a>
			    </li>

			    <li role="presentation">
			    	<a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a>
			    </li>
		  	</ul>				
		</div>
	</div>
	<!-- END OF HIGHLIGHT -->

	<div style="margin: 2% 0% 0% 4%" ng-init="load()">
		<div class="post slide-area" ng-repeat="data in datas" ng-if="data.list.length > 0" ng-init="$keyindex = $index">
			<div class="box-head">
	            <a ui-sref="profile.title({title : data.key})"><h3 ng-mouseover="showArrow($keyindex)" ng-mouseleave="hideArrow($keyindex)">{{data.name}}&nbsp;&nbsp;<i class="fa fa-angle-right" style="display: none" id="{{$keyindex}}"></i></h3></a>
	        </div>
			<div class="box video-box-row">
				<slick slides-to-show=5 slides-to-scroll=5 init-onload=true data="data.list" class="slider multiple-items">

					<div id="{{$index}}_{{data.key}}" ng-mouseover="hoverIn(this, $index, data.key, data.list.length)" ng-mouseleave="hoverOut(this, $index, data.key, data.list.length)" class="slide-box tile video-box" ng-repeat="value in data.list">

				    	<div class="video-box-outer">
				    	
					        <div class="tile-media">
					          	<img class="tile-img first" ng-src="{{value.default_image}}" alt=""/><!-- 3rd image-->
					          	<!-- <img class="tile-img first" ng-src="{{value.default_image}}" alt=""/>
					          	<img class="tile-img first" ng-src="{{value.default_image}}" alt=""/> -->
					        </div>

					        <div class="tile-details">

					        	<div class="hover-icon">
					        		<i class="fa fa-play"></i>
					        	</div>

								<div class="tile-content">
						            <h3 class="tile-tit">{{value.title}}</h3>

						            <div class="row no-margin">
			    						<div class="pull-left">
			    							<input type="hidden" class="rating" value="{{value.ratings}}">
			    						</div>
			    						<p class="video-season">
			    							<span>{{value.publish_time}}</span>
			    							<span class="video-epi-count" ng-if="value.watch_count > 0">+{{value.watch_count}}</span>
			    							<span>{{value.duration}}</span>
			    						</p>
			    					</div>

			    					<div class="row no-margin">
			    						<div class="video-des col-lg-10 col-md-10 col-sm-10 col-xs-10 no-pad">
			    							<p class="video-des-inner">{{value.description}}</p>
			    						</div>
			    					</div>

			    					<div class="text-center">
			    						<a ng-click="showVideoDrop(this, $index, data.key, data.list.length)" style="cursor: pointer;" class="arrow"><i class="fa fa-angle-down size-arrow"></i></a>
			    					</div>
								</div>

					        </div>
					    </div>
					    
				    </div>

			    </slick>
			</div>

			<div class="video-drop" id="{{$index}}_{{data.key}}_video_drop" ng-repeat="value in data.list">
				<div class="tab-content">

								<!-- OVERVIEW SECTION  -->
							    <div role="tabpanel" class="tab-pane active" id="overview">
								    <div class="overview tab-section">
								    	<div class="close-tab">
				    						<a href="javascript:void(0)" class="close-btn">
				    							<i class="fa fa-times"></i>
				    						</a>
				    					</div>
							    		
						    			<div class="tab-section-content row no-margin">
							    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad">
							    				<div class="overview-details">
							    					<h3 class="content-tit">{{value.title}}</h3>

							    					<div class="row no-margin">
							    						<div class="pull-left">
							    							<input type="hidden" class="rating" value="{{value.ratings}}">
							    						</div>
							    						<p class="content-txt bold seasons">
							    							<span>{{value.publish_time}}</span>
							    							<span class="epi-count">{{value.watch_count}}</span>
							    							<span>{{value.duration}}</span>
							    						</p>
							    					</div>

							    					<div>
							    						<p class="content-txt overview-des">{{value.description}}</p>

							    						<!-- <p class="content-txt awards"><i class="fa fa-trophy"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
							    					</div>

							    					<div>
							    						<a href="#" class="my-list bold">
							    							<i class="fa fa-plus"></i>
							    							<span class="my-list-txt">My List</span> 
							    						</a>
							    					</div>
							    				</div>
							    			</div>

							    			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad">
							    				<div class="linear-outer">
							    					
							    					<div class="linear">
							    					</div>
							    					<div class="rotate-img-outer">	
						    					
							    						<div class="rotate-img highlight-img bg-img first" style="background-image: url({{value.default_image}});"></div>
											    		<div class="rotate-img highlight-img bg-img second" style="background-image: url(img/img2.jpg);"></div>
											    		<div class="rotate-img highlight-img bg-img third" style="background-image: url(img/img3.jpg);"></div>
								    				</div>

								    				<div class="play-icon-outer">
								    					<a href="#" class="play-icon"><i class="fa fa-play"></i></a>
								    				</div>
							    				</div>
							    			</div>
							    		</div>
							    							    
								    </div>
								</div>
								<!-- OVERVIEW SECTION END -->



								<!-- EPISODES-SECTION
								======================================== -->
								<div role="tabpanel" class="tab-pane" id="episodes">
									<div class="episodes-section tab-section tab-bg bg-img" style="background-image: url({{value.default_image}});">
										<div class="tab-overlay">

											<div class="episodes-section-inner tab-section-content tab-sec-inner contain-width">
												<h3 class="content-tit">Pretty Little Liars</h3>
												<form class="season-select">
													<div class="form-group">
													    <select class="form-control" id="exampleSelect1">
													      <option>Season 1</option>
													      <option>Season 2</option>
													      <option>Season 3</option>
													      <option>Season 4</option>
													      <option>SEason 5</option>
													    </select>
													</div>
												</form>
				 
												<div class="episodes-list row no-margin">

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img1.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="episode-count">1</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="pull-left">
																		<h4 class="epi-tit gray-color1">Dark Night</h4>
																	</div>

																	<div class="pull-right">
																		<p class="bold gray-color1">2h</p>
																	</div>
																</div>

																<div class="">
																	<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img2.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="episode-count">2</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="pull-left">
																		<h4 class="epi-tit gray-color1">Dark Night</h4>
																	</div>

																	<div class="pull-right">
																		<p class="bold gray-color1">2h</p>
																	</div>
																</div>

																<div class="">
																	<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img3.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="episode-count">3</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="pull-left">
																		<h4 class="epi-tit gray-color1">Dark Night</h4>
																	</div>

																	<div class="pull-right">
																		<p class="bold gray-color1">2h</p>
																	</div>
																</div>

																<div class="">
																	<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img4.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="episode-count">4</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="pull-left">
																		<h4 class="epi-tit gray-color1">Dark Night</h4>
																	</div>

																	<div class="pull-right">
																		<p class="bold gray-color1">2h</p>
																	</div>
																</div>

																<div class="">
																	<p class="epi-des gray-color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- EPISODES-SECTION END-->



								<!-- TRAILERS SECTION -->
								<div role="tabpanel" class="tab-pane" id="trailers">
									<div class="trailers-section tab-section tab-bg bg-img" style="background-image: url(img/img1.jpg);">
										<div class="tab-overlay">

											<div class="trailers-section-inner tab-section-content tab-sec-inner contain-width">
												<h3 class="content-tit">Pretty Little Liars</h3>
				 
												<div class="trailers-list row no-margin">

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img5.jpg);">
																<div class="episode-img-overlay">

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="">
																		<h4 class="epi-tit gray-color1">PLL (Season 1)</h4>
																	</div>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img6.jpg);">
																<div class="episode-img-overlay">

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="">
																		<h4 class="epi-tit gray-color1">PLL (Season 2)</h4>
																	</div>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img7.jpg);">
																<div class="episode-img-overlay">

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="">
																		<h4 class="epi-tit gray-color1">PLL (Season 3)</h4>
																	</div>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img8.jpg);">
																<div class="episode-img-overlay">

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
																	<div class="">
																		<h4 class="epi-tit gray-color1">PLL (Season 4)</h4>
																	</div>
																</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- TRAILERS SECTION END -->



								<!-- MORE LIKE SECTION  -->
								<div role="tabpanel" class="tab-pane" id="more-like">
									<div class="morelike-section tab-section tab-bg bg-img" style="background-image: url(img/img1.jpg);">
										<div class="tab-overlay">

											<div class="morelike-section-inner tab-section-content tab-sec-inner contain-width">
												<h3 class="content-tit">Pretty Little Liars</h3>
				 
												<div class="morelike-list row no-margin">

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img5.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="new-epi">New Episode</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
										    						<div class="pull-left">
										    							<input type="hidden" class="rating" value="3">
										    						</div>
										    						<p class="content-txt bold seasons">
										    							<span>2016</span>
										    							<span class="epi-count">+16</span>
										    							<span>2h</span>
										    						</p>
										    					</div>

										    					<div>
										    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										    					</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img8.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="new-epi">New Episode</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
										    						<div class="pull-left">
										    							<input type="hidden" class="rating" value="3">
										    						</div>
										    						<p class="content-txt bold seasons">
										    							<span>2016</span>
										    							<span class="epi-count">+16</span>
										    							<span>2h</span>
										    						</p>
										    					</div>

										    					<div>
										    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										    					</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img9.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="new-epi">New Episode</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
										    						<div class="pull-left">
										    							<input type="hidden" class="rating" value="3">
										    						</div>
										    						<p class="content-txt bold seasons">
										    							<span>2016</span>
										    							<span class="epi-count">+16</span>
										    							<span>2h</span>
										    						</p>
										    					</div>

										    					<div>
										    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										    					</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

													<!-- episode list box -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="episode-list-box">

															<div class="episode-img bg-img" style="background-image: url(img/img10.jpg);">
																<div class="episode-img-overlay">
																	<div class="episode-img-inner">
																		<p class="new-epi">New Episode</p>
																	</div>

																	<div class="epi-play-icon-outer">
																		<a href="#" class="epi-play-icon">
																			<i class="ion-play"></i>
																		</a>
																	</div>
																</div>
															</div>

															<div class="episode-list-content">
																<div class="row no-margin">
										    						<div class="pull-left">
										    							<input type="hidden" class="rating" value="3">
										    						</div>
										    						<p class="content-txt bold seasons">
										    							<span>2016</span>
										    							<span class="epi-count">+16</span>
										    							<span>2h</span>
										    						</p>
										    					</div>

										    					<div>
										    						<p class="content-txt overview-des bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										    					</div>
															</div>

														</div>
													</div>
													<!-- episode-list-box end -->

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- MORE LIKE SECTION END -->



								<!-- DETAILS-SECTION -->
								<div role="tabpanel" class="tab-pane" id="details">
									<div class="details-section tab-section tab-bg bg-img" style="background-image: url(img/img1.jpg);">
										<div class="tab-overlay">

											<div class="details-section-inner tab-section-content tab-sec-inner contain-width">
												<h3 class="content-tit">Pretty Little Liars</h3>

												<div class="details-row row no-margin">

													<!-- DETAILS-BOX -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="details-box">
															<div class="">
																<h3 class="details-tit gray-color">Creator</h3>
																<p class="white-color details-txt">Spencer Hastings</p>
															</div>

															<div class="">
																<h3 class="details-tit gray-color">Cast</h3>
																<p class="white-color details-txt">Spencer Hastings</p>
																<p class="white-color details-txt">Spencer Hastings</p>
																<p class="white-color details-txt">Spencer Hastings</p>
																<p class="white-color details-txt">Spencer Hastings</p>
															</div>
														</div>
													</div>
													<!-- DETAILS-BOX END -->

													<!-- DETAILS-BOX -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="details-box">
															<div class="">
																<h3 class="details-tit gray-color">Genres</h3>
																<p class="white-color details-txt">Lorem</p>
																<p class="white-color details-txt">Lorem lorem</p>
																<p class="white-color details-txt">Lorem lorem lorem</p>
																<p class="white-color details-txt">Lorem</p>
															</div>

															<div class="">
																<h3 class="details-tit gray-color">this show is</h3>
																<p class="white-color details-txt">Exciting</p>
																<p class="white-color details-txt">Imaginative</p>
															</div>
														</div>
													</div>
													<!-- DETAILS-BOX END -->

													<!-- DETAILS-BOX -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="details-box">
															<div class="">
																<h3 class="details-tit gray-color">Maturity Ratings</h3>
																<p class="white-color details-txt">
																	<span class="epi-count">+16</span>
																</p>

																<p class="gray-color">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
																</p>
															</div>

														</div>
													</div>
													<!-- DETAILS-BOX END -->

													<!-- DETAILS-BOX -->
													<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
														<div class="details-box">
															<div class="">
																<h3 class="details-tit gray-color">Audio</h3>

																<p class="gray-color">
																	English Audio Description
																</p>
																<p class="gray-color">
																	English
																</p>
															</div>

														</div>
													</div>
													<!-- DETAILS-BOX END -->

												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- DETAILS-SECTION END -->
							</div>

							<div class="drop-tab">
								<ul class="nav nav-tabs" role="tablist">
								    <li role="presentation" class="active">
								    	<a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
								    </li>

								    <li role="presentation">
								    	<a href="#episodes" aria-controls="episodes" role="tab" data-toggle="tab">Episodes</a>
								    </li>

								    <li role="presentation">
								    	<a href="#trailers" aria-controls="trailers" role="tab" data-toggle="tab">Trailers &amp; More</a>
								    </li>

								    <li role="presentation">
								    	<a href="#more-like" aria-controls="more-like" role="tab" data-toggle="tab">More Like This</a>
								    </li>

								    <li role="presentation">
								    	<a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a>
								    </li>
							  	</ul>				
							</div>
			</div>
		</div>
	</div>

</div>


