<nav class="navbar navbar-default navbar-fixed-top nav-scroll {{black_bg}}" role="navigation">
	<div class="header_section">
		<div class="navbar-header">
			 
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			</button> 
			<a class="navbar-brand" ui-sref="profile.home({sub_id : sub_profile_id})">
				<img ng-src="{{site_logo.value}}">
			</a>
		</div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown active mega-dropdown">
					<a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown">Browse<strong class="caret"></strong></a>
					<ul class="dropdown-menu mega-dropdown-menu">
						<div class="row no-margin">

							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12 border-right">
								<ul class="sub-drop list-unstyled">
									<li>
										<a ui-sref="profile.home">Home</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'wishlist'})">Wishlist</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'recent'})">Recent Uploads</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'trending'})">Trending</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'watchlist'})">History</a>
									</li>

									<li>
										<a ui-sref="profile.title({title:'suggestion'})">Recommended</a>
									</li>

								</ul>
							</li>


							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="data in datas">
								<ul class="sub-drop list-unstyled">
									<li ng-repeat="value in data">
										<a ui-sref="profile.browse({browse:value.id})">{{value.name}}</a>
									</li>
								</ul>
							</li>

						</div>
					</ul>
				</li>

				<!-- <li>
					<a href="#">Kids</a>
				</li> -->
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>

					<form style="padding-top: 10px;">
					  <input id="search-box" type="text" class="search-box" name="key" autocomplete="true" ng-enter="getSearchModel(search_key)" ng-model="search_key" placeholder="Search.." />
					  <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
					</form>
				
					<!-- <form class="navbar-form">
						<div class="input-group search-group" id="custom-search-input">
						  <span class="input-group-addon" id="basic-addon1">
						  	<i class="fa fa-search"></i>
						  </span>
						  <input type="text" class="form-control search search-query" placeholder="Search" aria-describedby="basic-addon1" ng-enter="getSearchModel(search_key)" ng-model="search_key" style="color: #fff;" id="auto_complete_search" name="key" autocomplete="true">
						</div>
					</form>	 -->						
				</li>

				<!-- <li class="dropdown notify">

					<a href="#" class="dropdown-toggle notify-toggle" data-toggle="dropdown">
					 	<i class="ion-ios-bell nav-icon"></i>
					</a>

					<ul class="dropdown-menu notify-menu">
						<li>
							<a href="#" class="row no-margin notify-box border-bot padding15">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-no-padding">
									<div class="notify-box-left">
										<div class="notify-img bg-img" style="background-image: url(img/img1.jpg);"></div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
									<div class="notify-box-right">
										<h3 class="notify-tit">Rouge One</h3>
										<p class="notify-txt">1Day Ago</p>
									</div>
								</div>
								
							</a>

							<a href="#" class="row no-margin notify-box border-bot padding15">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-no-padding">
									<div class="notify-box-left">
										<div class="notify-img bg-img" style="background-image: url(img/img2.jpg);"></div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
									<div class="notify-box-right">
										<h3 class="notify-tit">Rouge One</h3>
										<p class="notify-txt">1Day Ago</p>
									</div>
								</div>
								
							</a>

							<a href="#" class="row no-margin notify-box border-bot padding15">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-no-padding">
									<div class="notify-box-left">
										<div class="notify-img bg-img" style="background-image: url(img/img3.jpg);"></div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
									<div class="notify-box-right">
										<h3 class="notify-tit">Rouge One</h3>
										<p class="notify-txt">1Day Ago</p>
									</div>
								</div>
								
							</a>
						</li>
					</ul>
				</li> -->

				<li class="dropdown">
					  
					  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" style="position: relative;" ng-click="redNotification()">
					    <i class="glyphicon glyphicon-bell"></i>

					    <span class="notification_badge" id="notification_badge">{{notifications_count}}</span>
					  </a>
					  
					  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
					    
					   <!--  <div class="notification-heading"><h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
					    </div>
					    <li class="divider"></li> -->
					   <div class="notifications-wrapper">
					   		<div ng-repeat="notification in notifications">
							    <a class="content" ui-sref="single_video({id : notification.admin_video_id})">
							      
							       <div class="notification-item">

							       	<div class="row">

								       	<div class="col-lg-3">

								       		<img ng-src="{{notification.img}}" style="width: 100%;height: 100%;" />

								       	</div>

								       	<div class="col-lg-9">

								        <h4 class="item-title" style="text-overflow: ellipsis;">{{notification.title}}</h4>
								        <p class="item-info">{{notification.time}}</p>

								        </div>
							        </div>
							      </div>
							    </a>
							    <li class="divider"></li>
						    </div>
					   </div>
					    <!-- <li class="divider"></li> -->
					    <div class="notification-footer">
					    	<a ui-sref="profile.title({title:'recent'})">
					    	<h4 class="menu-title pull-right">View all&nbsp;<i class="fa fa-arrow-circle-right"></i></h4>
					    	</a>
					    	<div class="clearfix"></div>
					    </div>
					  </ul>
					  
		         </li><!-- /dropdown -->

				<li class="dropdown nav-profile">
					<a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
						<div class="nav-profile-img bg-img" style="background-image: url({{sub_profile.picture}});"></div>
						{{sub_profile.name}}
					 	<strong class="caret"></strong>
					</a>

					<ul class="dropdown-menu nav-profile-menu">
						<div class="border-bot more-profile padding15">
							<li class="row no-margin" ng-repeat="value in profiles">
								<a ui-sref="profile.home({sub_id : value.id})"><div class="nav-profile-img bg-img" style="background-image: url({{value.picture}});"></div>
									{{value.name}}</a>
							</li>

							<li>
								<a ui-sref="manage-profile.manage-profiles">Manage Profile</a>
							</li>
						</div>

						<div class="padding15">
							<li>
								<a ui-sref="profile.account-settings({sub_id : sub_profile_id})">
									Your Account
								</a>
							</li>

							<!-- <li>
								<a href="#">
									Help Center
								</a>
							</li> -->

							<li>
								<a ng-click="logout()" style="cursor: pointer;">
									Signout
								</a>
							</li>
						</div>
					</ul>
				</li>
			</ul>
		</div>
	</div>	
</nav>
