<style type="text/css">
	
.back_button {

	position: absolute;

	top :6%;

	left: 2%;

	color: #fff;

	font-size:36px;

}

.back_button a {

	color: #fff;
}
</style>
<div class="content" style="position: relative;">

<div style="width: 90% !important;margin: 0 auto;">

<div id="video-player">
	
</div>

<div class="clearfix"></div>

</div>

<div class="back_button">

<a ui-sref="profile.home({sub_id : sub_profile_id})">

<i class="fa fa-arrow-circle-o-left" title="Back To Home"></i>

</a>

</div>

</div>