<div ui-view></div>

<div style="height: 160px"></div>

<footer>
    <div class="container"> 
      <div class="foot-head">
        <a href="#" class="foot-link">Questions? Contact Us</a>
      </div>

      <div class="footer row no-margin">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="">
            <a ui-sref="static.page({id : pages.type})" class="foot-link" ng-repeat="pages in allPages" style="text-transform: capitalize;">{{pages.type}}</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="">
            <a href="#" class="foot-link">FAQ</a>
            <a href="#" class="foot-link">Investor Resolution</a>
            <a href="#" class="foot-link">Terms Of Use</a>
            <a href="#" class="foot-link">Help</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="">
            <a href="#" class="foot-link">FAQ</a>
            <a href="#" class="foot-link">Investor Resolution</a>
            <a href="#" class="foot-link">Terms Of Use</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
          <div class="">
            <a href="#" class="foot-link">FAQ</a>
            <a href="#" class="foot-link">Investor Resolution</a>
            <a href="#" class="foot-link">Terms Of Use</a>
            <a href="#" class="foot-link">Help</a>
          </div>
        </div>
      </div>
    </div>
    
  </footer>

<!-- <footer>
	<div class="container">	
		<div class="pull-left">

            <p class="footer-gd">© Copyright 2017 All rights reserved.</p>

        </div>

        <div class="pull-right">

          <ul class="footer_ul">

             <li ng-repeat="pages in allPages" style="list-style: none">
	          <a ui-sref="static.page({id : pages.type})" style="color: #fff;text-transform: capitalize;">{{pages.type}}</a> |
	        </li>

          </ul>

        </div>

        <div class="clearfix"></div>
	</div>
	
</footer>
<style type="text/css">
p {
	margin : 0;
}
</style> -->