<div ui-view></div>

<!-- <div style="height: 160px"></div>
 -->
<div class="height"></div>
<footer class="footer">
    <div class="container"> 
      <div class="foot-head">
        <a style="text-decoration: none" class="foot-link">Questions? Contact Us</a>
      </div>

      <div class="footer row no-margin">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat="pages in allPages" >
          <div class="">
            <a ui-sref="static.page({id : page.type})" class="foot-link" ng-repeat="page in pages" style="text-transform: capitalize;">{{page.type}}</a>
          </div>
        </div>
     
      </div>
    </div>
    
  </footer>
