<div ui-view></div>

	<footer>
		<div class="container">	
			<div class="foot-head">
				<a href="#" class="foot-link">Questions? Contact Us</a>
			</div>

			<div class="footer row no-margin">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="">
						<a href="#" class="foot-link">FAQ</a>
						<a href="#" class="foot-link">Investor Resolution</a>
						<a href="#" class="foot-link">Terms Of ?Use</a>
						<a href="#" class="foot-link">Help</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="">
						<a href="#" class="foot-link">FAQ</a>
						<a href="#" class="foot-link">Investor Resolution</a>
						<a href="#" class="foot-link">Terms Of ?Use</a>
						<a href="#" class="foot-link">Help</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="">
						<a href="#" class="foot-link">FAQ</a>
						<a href="#" class="foot-link">Investor Resolution</a>
						<a href="#" class="foot-link">Terms Of ?Use</a>
						<a href="#" class="foot-link">Help</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="">
						<a href="#" class="foot-link">FAQ</a>
						<a href="#" class="foot-link">Investor Resolution</a>
						<a href="#" class="foot-link">Terms Of ?Use</a>
						<a href="#" class="foot-link">Help</a>
					</div>
				</div>
			</div>
		</div>
		
	</footer>